@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  :root {
    height: 100%;
    width: 100%;
  }

  :root {
    --background: 300 20% 99.02%;
    --foreground: 257.14 10.14% 13.53%;
    --card: 0 0% 100%;
    --card-foreground: 257.14 10.14% 13.53%;
    --popover: 0 0% 100%;
    --popover-foreground: 257.14 10.14% 13.53%;
    --primary: 151.03 54.72% 41.57%;
    --primary-foreground: 257.14 10.14% 13.53%;
    --secondary: 151.03 54.72% 41.57%;
    --secondary-foreground: 0 0% 100%;
    --muted: 285 14.29% 94.51%;
    --muted-foreground: 252 4.81% 40.78%;
    --accent: 285 14.29% 94.51%;
    --accent-foreground: 153.67 59.76% 32.16%;
    --destructive: 0 70% 35.29%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 258 11.11% 82.35%;
    --input: 249.23 5.99% 57.45%;
    --ring: 151.03 54.72% 41.57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 5.56% 7.06%;
    --foreground: 240 6.25% 93.73%;
    --card: 270 3.85% 10.2%;
    --card-foreground: 240 6.25% 93.73%;
    --popover: 270 3.85% 10.2%;
    --popover-foreground: 240 6.25% 93.73%;
    --primary: 151.2 55.07% 44.51%;
    --primary-foreground: 270 5.56% 7.06%;
    --secondary: 151.2 55.07% 44.51%;
    --secondary-foreground: 240 6.25% 93.73%;
    --muted: 270 4.65% 16.86%;
    --muted-foreground: 258 6.94% 71.76%;
    --accent: 260 3.53% 16.67%;
    --accent-foreground: 150.98 65.11% 53.92%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 257.14 4.7% 29.22%;
    --input: 250.91 4.8% 44.9%;
    --ring: 151.2 55.07% 44.51%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
